/*
    Yes, I have an entire css file for one fucking class.
    Deal with it.
*/

html {
    background-color: #2a2a2b;
    color: #FFFFFF;
}

/* Overridee the pure-form legend font color */
.pure-form legend {
    color: #FFFFFF;
}

.container {
    box-sizing: border-box;
    margin: 10 10 0 10;
}
