* {
    margin: 0;
}

html, body {
    background-color: #2a2a2b;
    color: #FFFFFF;
    height: 100%;
}

a:visited {
    color: #6fb0e6;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -30px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 30px;
    font-size: 12px;
}

/* Overridee the pure-form legend font color */
.pure-form legend {
    color: #FFFFFF;
}

.container {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}

.error {
    background-color: #9d2727;
    padding: 10px;
    text-shadow: 1px 1px rgba(97, 101, 100, 0.62);
    height: 36px;
}

.error span {
    float: left;
}

.error i {
    float: right;
}

.pure-button-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(66, 184, 221);
}

.hidden-img-bucket {
    display: none;
}

.donations a span.donation-info span{
    color: #6fb0e6;
    text-decoration: underline;
    content: 'Donations'
}

.donations:hover a span.donation-info span{
    display: none;
}

.donations:hover a span.donation-info:after{
    color: #6fb0e6;
    content: 'Donations can be made in game to Krylik Riga';
}
