* {
    margin: 0;
}

html, body {
    background-color: #2a2a2b;
    color: #FFFFFF;
    height: 100%;
}

a:visited {
    color: #6fb0e6;
}

.page-wrap {
    min-height: 100%;
    margin-bottom: -50px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 50px;
    font-size: 12px;
}

/* Overridee the pure-form legend font color */
.pure-form legend {
    color: #FFFFFF;
}

.container {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
}
